<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head');   %>
</head>
<body>
    <div class="workarea">
        <header>
            <%- include('../partials/name', {name:biodata[0].name});%>
            <%- include('../partials/description');%>
        </header>
        <main>
            <%- include('../partials/frame',{images: biodata[0].images}); %>
    
            <div class="container">
                <div class="container2">
                    <!-- Photo-shoot -->
            <%- include('../partials/photo-shoot',{images: biodata[0].images}); %>
    
            <!-- Past-work -->
            <%- include('../partials/pastwork',{images: biodata[0].images}); %>
                </div>
            </div>
            
        </main>
        <footer>
            <%- include('../partials/information',{info:biodata[0]}); %>
        </footer>
    </div>
    <%- include('../partials/script'); %>
    
</body>
</html>