<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head');   %>
</head>
<body>
    <div class="workarea">
        <header>
            <%- include('../partials/name');%>
            <%- include('../partials/description');%>
        </header>
        <main>
            <%- include('../partials/frame'); %>
    
            <div class="container">
                <div class="container2">
                    <!-- Photo-shoot -->
            <%- include('../partials/photo-shoot'); %>
    
            <!-- Past-work -->
            <%- include('../partials/past-work'); %>
                </div>
            </div>
        </main>
        <footer>
            <%- include('../partials/information'); %>
        </footer>
    </div>
    <%- include('../partials/script'); %>
</body>
</html>